<%- include('./header.ejs') %>

	<div id="body-wrap">
		<div class="body-content">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-lg-8 col-sm-8">
						<!-- left content -->
						<div class="content-wrap">

							<div>
								<textarea class="form-control" rows="5"></textarea>
							</div>
							<h1><%= title %></h1>
							<p>EJS Welcome to <%= title %></p>
						</div>
					</div>

					<div class="col-md-4 col-lg-4 col-sm-4">
						<!-- right content -->
						<div class="content-wrap">
							<div class="user-info-top">
								<div class="avatar-info">
									<img src="<%= avatar %> " alt="头像">
								</div>
							</div>
							<div class="user-info-botton">
								<div class="user-intro">
									<p style="color: #333;font-size: 20px; margin-bottom: 5px;">
										<%= nickName %>
									</p>
									<p style="color: #f77769;font-size: 12px;">不会炒股的不是好码农</p>
								</div>
								<ul>
									<li>
										<span class="botton-span-title">粉丝</span>
										<span class="botton-span-content">232342</span>
									</li>
									<li>
										<span class="botton-span-title">关注</span>
										<span class="botton-span-content">1223</span>
									</li>
									<li>
										<span class="botton-span-title">动态</span>
										<span class="botton-span-content">1890</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<%- include('./footer.ejs') %>
