<%- include('./header.ejs') %>

  <div class="body">
    <div class="body-content">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="set-content">
              <div>
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                <span class="set-content-title">修改信息</span>
              </div>
              <div style="margin-top: 20px;">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="nickName" class="col-sm-2 control-label">头像</label>
                    <div class="col-sm-10">
                      <img style="width: 100px;height: 100px;" src="<%= avatar %> " alt="用户头像" class="img-thumbnail" id="img-avatar">
                      <input type="file" name="file" accept="image/*" class="form-control" id="img-file" placeholder="头像" value="上传头像">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="nickName" class="col-sm-2 control-label">昵称</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="nickName" placeholder="昵称" value="<%= nickName %> ">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="city" class="col-sm-2 control-label">城市</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="city" placeholder="城市" value="<%= city %> ">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="gender" class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-10">
                      <select id="gender" class="form-control" >
                        <option value="1" selected="<%= gender == '1' %> ">男</option>
                        <option value="2" selected="<%= gender == '2' %> ">女</option>
                        <option value="3" selected="<%= gender == '3' %> ">保密</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" id="updateInfo" class="btn btn-primary">保存修改</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="set-content">
              <div>
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                <span class="set-content-title">修改密码</span>
              </div>
              <div style="margin-top: 20px;">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="nickName" class="col-sm-2 control-label">原始密码</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="oldPassword" placeholder="原始密码">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="city" class="col-sm-2 control-label">新密码</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="newPassword" placeholder="新密码">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" id="updatePassword" class="btn btn-primary">修改密码</button>
                      <button id="logoutBtn" class="btn btn-warning">退出登录</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(function() {

      // 上传文件
      let imgAvatar = $('#img-avatar')
      let imgFile = $('#img-file')
      imgFile.change(function(e) {
        let file = imgFile[0].files[0]
        let formData = new FormData()
        formData.append('file', file)
        axios.post('/api/utils/upload', formData, {
          headers: { "Content-Type": "multipart/form-data;charset=UTF-8" }
        }).then(function (res) {
          let data = res.data
          if (data.status === 0) {
            imgAvatar.attr('src', data.data.url)
          } else {
            alert(data.message)
          }
        })
      })

      // updateInfo
      $('#updateInfo').click(function(event) {
        event.preventDefault()
        let nickName = $('#nickName').val()
        let city = $('#city').val()
        let gender = $('#gender').val()
        let avatar = imgAvatar.attr('src')
        axios.post('/api/users/changeInfo', {
          nickName,
          city,
          gender: parseInt(gender),
          avatar
        }).then(function (response) {
          const { data } = response
          if(data.status === 0) {
            location.href = '/home'
            return
          } else {
            alert(data.message)
          }
        })
      })


      // updatePassword
      $('#updatePassword').click(function(event) {
        event.preventDefault()
        let oldPassword = $('#oldPassword').val()
        let newPassword = $('#newPassword').val()
        axios.post('/api/users/changePassword', {
          password: oldPassword,
          newPassword,
        }).then(function (response) {
          const { data } = response
          if(data.status === 0) {
            // location.href = '/login'
            alert('密码修改成功')
            $('#oldPassword').val('')
            $('#newPassword').val('')
            return
          } else {
            alert(data.message)
          }
        })
      })

      // 退出登录
      $('#logoutBtn').click(function(event) {
        event.preventDefault()
        let result = confirm('你确定要退出登录吗？')
        if (result) {
          axios.get('/api/users/logout').then(function (response) {
            const { data } = response
            if(data.status === 0) {
              location.href = '/login'
              return
            } else {
              alert(data.message)
            }
          })
        } else {
          console.log('result === >>>> ', result)
        }
      })
      
    })
  </script>

<%- include('./footer.ejs') %>